<?xml version="1.0" encoding="utf-8"?>
<!--文件中不能出现&字符，需要用&amp;代替-->
<configuration>
  <servers>
    <版本服务器>
      <path>mydll/VersionServer.dll</path>
      <!--用户dll路径-->
      <namespace.class>VersionServer.Server</namespace.class>
      <!--继承ServerBase类的命名空间和类名-->
      <tcpport>12220</tcpport>
      <!--端口号可以设置在2000~60000之间-->
      <poolnum>100</poolnum>
      <!--用户池个数-->
      <recbuff>16384</recbuff>
      <!--接收数据缓存KB-->
      <udpport>0</udpport>
      <udprec>0</udprec>
      <bigsendbuff>16384</bigsendbuff>
      <bigrecbuff>64</bigrecbuff>
      <!--大文件传输最大内存MB-->
    </版本服务器>
    <登入服务器>
      <path>mydll/LoginServer.dll</path>
      <!--用户dll路径-->
      <namespace.class>LoginServer.Server</namespace.class>
      <!--继承ServerBase类的命名空间和类名-->
      <tcpport>12221</tcpport>
      <!--端口号可以设置在2000~60000之间-->
      <poolnum>500</poolnum>
      <!--用户池个数-->
      <recbuff>16384</recbuff>
      <!--接收数据缓存KB-->
      <udpport>12222</udpport>
      <udprec>16384</udprec>
      <bigsendbuff>16384</bigsendbuff>
      <bigrecbuff>64</bigrecbuff>
      <!--大文件传输最大内存MB-->
    </登入服务器>
    <战斗服务器>
      <path>mydll/BattleServer.dll</path>
      <!--用户dll路径-->
      <namespace.class>BattleServer.Server</namespace.class>
      <!--继承ServerBase类的命名空间和类名-->
      <tcpport>12223</tcpport>
      <!--端口号可以设置在2000~60000之间-->
      <poolnum>500</poolnum>
      <!--用户池个数-->
      <recbuff>16384</recbuff>
      <!--接收数据缓存KB-->
      <udpport>12224</udpport>
      <udprec>16384</udprec>
      <bigsendbuff>16384</bigsendbuff>
      <bigrecbuff>64</bigrecbuff>
      <!--大文件传输最大内存MB-->
    </战斗服务器>
  </servers>
  <allips>
    <versionip>dd.yhydy.cn:12220</versionip>
    <loginip>dd.yhydy.cn:12221</loginip>
    <battleip>dd.yhydy.cn:12223</battleip>
  </allips>
  <mysqlmessage>server=127.0.0.1;port=3306;database=diunileimu;userid=root;password=669988Pbb;Allow Zero Datetime=True;charset=utf8;</mysqlmessage>
  <rewards>
    <reward id="1" name="aimi">
      <path>/reward/ 1.apk</path>
      <key>B05E92E5DB9555B8D02B8EB0F44879B0</key>
    </reward>
    <reward id="2" name="rem">
      <path>/reward/ 2.apk</path>
      <key>2B67632C1F6B92A538713564115CEE71</key>
    </reward>
  </rewards>
  <ranknum>100</ranknum>
  <!--排行最多人数-->
  <lasttime>-8586500809367732046</lasttime>
  <mail>lilipbb@foxmail.com-refqhweiguyubcje-丢丢大作战</mail>
</configuration>